<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edit the magazine</title>

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"  th:replace="fragments/header_unauthorized :: header_unauthorized">
</nav>

<header class="p-3 mb-3"  th:replace="fragments/header_authorized :: header_authorized">
</header>


    <div class="container" style = "width: 30%;">
        <h1 class="text-center">Update the magazine</h1>
        <form th:method="POST" th:action="@{/magazine-update/{id} (id = ${magazine.getMagazineId()})}" th:object="${magazine}">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Title</label>
                <input style="border: solid green;" th:field="*{name}" type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <!-- <div class="form-group">
              <label for="exampleFormControlFile1">Select a picture</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div> -->
            <button type="submit" class="btn btn-success mt-3" style = "margin-left: 35%;">Update</button>
        </form>
    </div>


<script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
