<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Name of magazine</title>
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


</head>
<body>
<main>

  <nav class="navbar navbar-expand-lg navbar-light bg-light"  th:replace="fragments/header_unauthorized :: header_unauthorized">
  </nav>

  <header class="p-3 mb-3"  th:replace="fragments/header_authorized :: header_authorized">
  </header>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-sm-4 com-md-8 mx-auto">
        <img style="padding-right: 30px; object-fit: cover; width: 500px; height: 400px;"
             th:src="*{'data:image/png;base64,' + magazineImage}">
        <h1 class="fw-light" th:text="${magazine.getName()}">Title of magazine</h1>
        <p class="lead text-muted">Brief description.</p>
        <form th:unless="${isFollowMagazine}" th:action="@{/magazine/{id}/follow(id = ${magazine.getMagazineId()})}" th:method="POST">
          <button type="submit" class="btn btn-primary my-2">Start to follow</button>
        </form>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="article : ${articles}">
          <div class="card shadow-sm">
            <img style=" object-fit: cover;" width="100%" height="225" th:src="*{'data:image/png;base64,'} + ${mapOfUsersImagesInArticleSection.get(article)}">
            <div class="card-body">
              <p class="card-text" th:text="${article.getDescription()}"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" >
                  <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/article/{id}(id = ${article.getArticleId()})}">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>
