<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Create a new article</title>

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  </head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light"  th:replace="fragments/header_unauthorized :: header_unauthorized">
</nav>

<header class="p-3 mb-3"  th:replace="fragments/header_authorized :: header_authorized">
</header>



    <div class="container" style = "width: 30%;">
        <h1 class="text-center">Create a new article</h1>

        <form id="createArticleForm" th:action="@{/create-article}" th:method="POST" th:object="${article}" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Title</label>
              <input name="title" th:field="*{title}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your title">
            </div>

            <div class="mb-3">
              <label for="formGroupSelect" class="form-label">Select article category:</label>
              <select name="category" th:field="*{category.name}" class="form-select" aria-label="Default select example" id="formGroupSelect">
                  <option th:each="scategory: ${categories}" th:text ="${scategory.getName()}" th:value ="${scategory.getName()}"></option>
              </select>
            </div>


            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Description</label>
              <input name = "description" th:field="*{description}"  type="text" class="form-control" id="formGroupExampleInput2" placeholder="Write brief description of your article">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Text</label>
                <textarea name = "text" th:field="*{text}" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Select a picture</label>
              <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input value="Create" type="submit" class="btn btn-success mt-3" style="display: block;
            margin: 0 auto;">
        </form>
    </div>


<!--<script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

</body>
</html>
