<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Create a new article</title>

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  </head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
            </ul>

            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item " href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>


    <div class="container" style = "width: 30%;">
        <h1 class="text-center">Create a new article</h1>

        <form id="createArticleForm" th:action="@{/create-article}" th:method="POST" th:object="${article}" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Title</label>
              <input name="title" th:field="*{title}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your title">
            </div>

            <div class="mb-3">
              <label for="formGroupSelect" class="form-label">Select article category:</label>
              <select name="category" th:field="*{category.name}" class="form-select" aria-label="Default select example" id="formGroupSelect">
                  <option th:each="scategory: ${categories}" th:text ="${scategory.getName()}" th:value ="${scategory.getName()}"></option>
              </select>
            </div>


            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Description</label>
              <input name = "description" th:field="*{description}"  type="text" class="form-control" id="formGroupExampleInput2" placeholder="Write brief description of your article">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Text</label>
                <textarea name = "text" th:field="*{text}" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Select a picture</label>
              <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input value="Create" type="submit" class="btn btn-success mt-3" style="display: block;
            margin: 0 auto;"></input>
        </form>
    </div>


<!--<script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

</body>
</html>
